@import url('https://fonts.googleapis.com/css?family=Pixelify%20Sans:700|Poppins:400');

:root {
    --text: #f0f3e9;
    --background: #000000;
    --primary: #c4cda2;
    --secondary: #366545;
    --accent: #60a98c;
}

body {
  font-family: 'Poppins';
  font-weight: normal;
  background-color: var(--background);
  color: var(--text);
}

h1, h2, h3, h4, h5 {
  font-family: 'Pixelify Sans';
  font-weight: 700;
}

html {font-size: 100%;}

h1 {font-size: 4.210rem;}

h2 {font-size: 3.158rem;}

h3 {font-size: 2.369rem;}

h4 {font-size: 1.777rem;}

h5 {font-size: 1.333rem;}

small {font-size: 0.750rem;}


.first {
    underline: none;
}

.first:hover {
    underline: single;
    underline-color: white;
}
